.pio**
.github**
.vscode**
src/.DS_Store
src/ponics.online.h
scripts/build_ponic.sh
test/
scripts/open_chrome.sh
scripts/merge_firmware.py
web_test/api_test.html
web_test/bootstrap-icons.css
web_test/bootstrap.bundle.min.js
web_test/bootstrap.min.css
web_test/chart.js
web_test/custom.css
web_test/fonts/bootstrap-icons.woff2
xtensa-esp-elf-gdb/**
venv/**
ha mqtt/homeassistant/.HA_VERSION
ha mqtt/homeassistant/automations.yaml
ha mqtt/homeassistant/configuration.yaml
ha mqtt/homeassistant/home-assistant_v2.db
ha mqtt/homeassistant/home-assistant_v2.db-shm
ha mqtt/homeassistant/home-assistant_v2.db-wal
ha mqtt/homeassistant/home-assistant.log
ha mqtt/homeassistant/home-assistant.log.1
ha mqtt/homeassistant/home-assistant.log.fault
ha mqtt/homeassistant/scenes.yaml
ha mqtt/homeassistant/scripts.yaml
ha mqtt/homeassistant/secrets.yaml
ha mqtt/homeassistant/.storage/assist_pipeline.pipelines
ha mqtt/homeassistant/.storage/auth
ha mqtt/homeassistant/.storage/bluetooth.passive_update_processor
ha mqtt/homeassistant/.storage/core.config_entries
ha mqtt/homeassistant/.storage/core.device_registry
ha mqtt/homeassistant/.storage/core.entity_registry
ha mqtt/homeassistant/.storage/core.restore_state
ha mqtt/homeassistant/.storage/core.uuid
ha mqtt/homeassistant/.storage/homeassistant.exposed_entities
ha mqtt/homeassistant/.storage/http
ha mqtt/homeassistant/.storage/http.auth
ha mqtt/homeassistant/.storage/repairs.issue_registry
ha mqtt/homeassistant/.storage/trace.saved_traces
ha mqtt/homeassistant/blueprints/automation/homeassistant/motion_light.yaml
ha mqtt/homeassistant/blueprints/automation/homeassistant/notify_leaving_zone.yaml
ha mqtt/homeassistant/blueprints/script/homeassistant/confirmable_notification.yaml
