.pio**
.github**
.vscode**
src/.DS_Store
src/ponics.online.h
scripts/build_ponic.sh
test/
scripts/open_chrome.sh
scripts/merge_firmware.py
web_test/api_test.html
web_test/bootstrap-icons.css
web_test/bootstrap.bundle.min.js
web_test/bootstrap.min.css
web_test/chart.js
web_test/custom.css
web_test/fonts/bootstrap-icons.woff2
xtensa-esp-elf-gdb/.DS_Store
xtensa-esp-elf-gdb/package.json
xtensa-esp-elf-gdb/bin/xtensa-esp-elf-gdb-3.8
xtensa-esp-elf-gdb/bin/xtensa-esp-elf-gdb-3.9
xtensa-esp-elf-gdb/bin/xtensa-esp-elf-gdb-3.10
xtensa-esp-elf-gdb/bin/xtensa-esp-elf-gdb-3.11
xtensa-esp-elf-gdb/bin/xtensa-esp-elf-gdb-3.12
xtensa-esp-elf-gdb/bin/xtensa-esp-elf-gdb-3.13
xtensa-esp-elf-gdb/bin/xtensa-esp-elf-gdb-add-index
xtensa-esp-elf-gdb/bin/xtensa-esp-elf-gdb-no-python
xtensa-esp-elf-gdb/bin/xtensa-esp-elf-gprof
xtensa-esp-elf-gdb/bin/xtensa-esp32-elf-gdb
xtensa-esp-elf-gdb/bin/xtensa-esp32s2-elf-gdb
xtensa-esp-elf-gdb/bin/xtensa-esp32s3-elf-gdb
xtensa-esp-elf-gdb/include/gdb/jit-reader.h
xtensa-esp-elf-gdb/lib/xtensa_esp32.so
xtensa-esp-elf-gdb/lib/xtensa_esp32s2.so
xtensa-esp-elf-gdb/lib/xtensa_esp32s3.so
xtensa-esp-elf-gdb/lib/xtensa_esp8266.so
xtensa-esp-elf-gdb/share/gdb/python/gdb/__init__.py
xtensa-esp-elf-gdb/share/gdb/python/gdb/disassembler.py
xtensa-esp-elf-gdb/share/gdb/python/gdb/FrameDecorator.py
xtensa-esp-elf-gdb/share/gdb/python/gdb/FrameIterator.py
xtensa-esp-elf-gdb/share/gdb/python/gdb/frames.py
xtensa-esp-elf-gdb/share/gdb/python/gdb/missing_debug.py
xtensa-esp-elf-gdb/share/gdb/python/gdb/printing.py
xtensa-esp-elf-gdb/share/gdb/python/gdb/prompt.py
xtensa-esp-elf-gdb/share/gdb/python/gdb/styling.py
xtensa-esp-elf-gdb/share/gdb/python/gdb/types.py
xtensa-esp-elf-gdb/share/gdb/python/gdb/unwinder.py
xtensa-esp-elf-gdb/share/gdb/python/gdb/xmethod.py
xtensa-esp-elf-gdb/share/gdb/python/gdb/__pycache__/__init__.cpython-313.pyc
xtensa-esp-elf-gdb/share/gdb/python/gdb/__pycache__/FrameDecorator.cpython-313.pyc
xtensa-esp-elf-gdb/share/gdb/python/gdb/__pycache__/FrameIterator.cpython-313.pyc
xtensa-esp-elf-gdb/share/gdb/python/gdb/__pycache__/frames.cpython-313.pyc
xtensa-esp-elf-gdb/share/gdb/python/gdb/__pycache__/printing.cpython-313.pyc
xtensa-esp-elf-gdb/share/gdb/python/gdb/__pycache__/prompt.cpython-313.pyc
xtensa-esp-elf-gdb/share/gdb/python/gdb/__pycache__/types.cpython-313.pyc
xtensa-esp-elf-gdb/share/gdb/python/gdb/command/__init__.py
xtensa-esp-elf-gdb/share/gdb/python/gdb/command/explore.py
xtensa-esp-elf-gdb/share/gdb/python/gdb/command/frame_filters.py
xtensa-esp-elf-gdb/share/gdb/python/gdb/command/missing_debug.py
xtensa-esp-elf-gdb/share/gdb/python/gdb/command/pretty_printers.py
xtensa-esp-elf-gdb/share/gdb/python/gdb/command/prompt.py
xtensa-esp-elf-gdb/share/gdb/python/gdb/command/type_printers.py
xtensa-esp-elf-gdb/share/gdb/python/gdb/command/unwinders.py
xtensa-esp-elf-gdb/share/gdb/python/gdb/command/xmethods.py
xtensa-esp-elf-gdb/share/gdb/python/gdb/command/__pycache__/__init__.cpython-313.pyc
xtensa-esp-elf-gdb/share/gdb/python/gdb/command/__pycache__/explore.cpython-313.pyc
xtensa-esp-elf-gdb/share/gdb/python/gdb/command/__pycache__/frame_filters.cpython-313.pyc
xtensa-esp-elf-gdb/share/gdb/python/gdb/command/__pycache__/missing_debug.cpython-313.pyc
xtensa-esp-elf-gdb/share/gdb/python/gdb/command/__pycache__/pretty_printers.cpython-313.pyc
xtensa-esp-elf-gdb/share/gdb/python/gdb/command/__pycache__/prompt.cpython-313.pyc
xtensa-esp-elf-gdb/share/gdb/python/gdb/command/__pycache__/type_printers.cpython-313.pyc
xtensa-esp-elf-gdb/share/gdb/python/gdb/command/__pycache__/unwinders.cpython-313.pyc
xtensa-esp-elf-gdb/share/gdb/python/gdb/command/__pycache__/xmethods.cpython-313.pyc
xtensa-esp-elf-gdb/share/gdb/python/gdb/dap/__init__.py
xtensa-esp-elf-gdb/share/gdb/python/gdb/dap/breakpoint.py
xtensa-esp-elf-gdb/share/gdb/python/gdb/dap/bt.py
xtensa-esp-elf-gdb/share/gdb/python/gdb/dap/disassemble.py
xtensa-esp-elf-gdb/share/gdb/python/gdb/dap/evaluate.py
xtensa-esp-elf-gdb/share/gdb/python/gdb/dap/events.py
xtensa-esp-elf-gdb/share/gdb/python/gdb/dap/frames.py
xtensa-esp-elf-gdb/share/gdb/python/gdb/dap/io.py
xtensa-esp-elf-gdb/share/gdb/python/gdb/dap/launch.py
xtensa-esp-elf-gdb/share/gdb/python/gdb/dap/locations.py
xtensa-esp-elf-gdb/share/gdb/python/gdb/dap/memory.py
xtensa-esp-elf-gdb/share/gdb/python/gdb/dap/modules.py
xtensa-esp-elf-gdb/share/gdb/python/gdb/dap/next.py
xtensa-esp-elf-gdb/share/gdb/python/gdb/dap/pause.py
xtensa-esp-elf-gdb/share/gdb/python/gdb/dap/scopes.py
xtensa-esp-elf-gdb/share/gdb/python/gdb/dap/server.py
xtensa-esp-elf-gdb/share/gdb/python/gdb/dap/sources.py
xtensa-esp-elf-gdb/share/gdb/python/gdb/dap/startup.py
xtensa-esp-elf-gdb/share/gdb/python/gdb/dap/state.py
xtensa-esp-elf-gdb/share/gdb/python/gdb/dap/threads.py
xtensa-esp-elf-gdb/share/gdb/python/gdb/dap/typecheck.py
xtensa-esp-elf-gdb/share/gdb/python/gdb/dap/varref.py
xtensa-esp-elf-gdb/share/gdb/python/gdb/function/__init__.py
xtensa-esp-elf-gdb/share/gdb/python/gdb/function/as_string.py
xtensa-esp-elf-gdb/share/gdb/python/gdb/function/caller_is.py
xtensa-esp-elf-gdb/share/gdb/python/gdb/function/strfns.py
xtensa-esp-elf-gdb/share/gdb/python/gdb/function/__pycache__/__init__.cpython-313.pyc
xtensa-esp-elf-gdb/share/gdb/python/gdb/function/__pycache__/as_string.cpython-313.pyc
xtensa-esp-elf-gdb/share/gdb/python/gdb/function/__pycache__/caller_is.cpython-313.pyc
xtensa-esp-elf-gdb/share/gdb/python/gdb/function/__pycache__/strfns.cpython-313.pyc
xtensa-esp-elf-gdb/share/gdb/python/gdb/printer/__init__.py
xtensa-esp-elf-gdb/share/gdb/python/gdb/printer/bound_registers.py
xtensa-esp-elf-gdb/share/gdb/python/gdb/printer/__pycache__/__init__.cpython-313.pyc
xtensa-esp-elf-gdb/share/gdb/python/gdb/printer/__pycache__/bound_registers.cpython-313.pyc
xtensa-esp-elf-gdb/share/gdb/syscalls/aarch64-linux.xml
xtensa-esp-elf-gdb/share/gdb/syscalls/amd64-linux.xml
xtensa-esp-elf-gdb/share/gdb/syscalls/arm-linux.xml
xtensa-esp-elf-gdb/share/gdb/syscalls/freebsd.xml
xtensa-esp-elf-gdb/share/gdb/syscalls/gdb-syscalls.dtd
xtensa-esp-elf-gdb/share/gdb/syscalls/i386-linux.xml
xtensa-esp-elf-gdb/share/gdb/syscalls/loongarch-linux.xml
xtensa-esp-elf-gdb/share/gdb/syscalls/mips-n32-linux.xml
xtensa-esp-elf-gdb/share/gdb/syscalls/mips-n64-linux.xml
xtensa-esp-elf-gdb/share/gdb/syscalls/mips-o32-linux.xml
xtensa-esp-elf-gdb/share/gdb/syscalls/netbsd.xml
xtensa-esp-elf-gdb/share/gdb/syscalls/ppc-linux.xml
xtensa-esp-elf-gdb/share/gdb/syscalls/ppc64-linux.xml
xtensa-esp-elf-gdb/share/gdb/syscalls/s390-linux.xml
xtensa-esp-elf-gdb/share/gdb/syscalls/s390x-linux.xml
xtensa-esp-elf-gdb/share/gdb/syscalls/sparc-linux.xml
xtensa-esp-elf-gdb/share/gdb/syscalls/sparc64-linux.xml
xtensa-esp-elf-gdb/share/gdb/system-gdbinit/elinos.py
xtensa-esp-elf-gdb/share/gdb/system-gdbinit/wrs-linux.py
xtensa-esp-elf-gdb/share/info/annotate.info
xtensa-esp-elf-gdb/share/info/bfd.info
xtensa-esp-elf-gdb/share/info/ctf-spec.info
xtensa-esp-elf-gdb/share/info/gdb.info
xtensa-esp-elf-gdb/share/info/gprof.info
xtensa-esp-elf-gdb/share/info/sframe-spec.info
xtensa-esp-elf-gdb/share/info/stabs.info
xtensa-esp-elf-gdb/share/man/man1/xtensa-esp-elf-gdb-add-index.1
xtensa-esp-elf-gdb/share/man/man1/xtensa-esp-elf-gdb.1
xtensa-esp-elf-gdb/share/man/man1/xtensa-esp-elf-gdbserver.1
xtensa-esp-elf-gdb/share/man/man1/xtensa-esp-elf-gprof.1
xtensa-esp-elf-gdb/share/man/man5/xtensa-esp-elf-gdbinit.5
