.pio**
.github**
.vscode**
src/.DS_Store
src/ponics.online.h
scripts/build_ponic.sh
test/
scripts/open_chrome.sh
scripts/merge_firmware.py
web_test/api_test.html
web_test/bootstrap-icons.css
web_test/bootstrap.bundle.min.js
web_test/bootstrap.min.css
web_test/chart.js
web_test/custom.css
web_test/fonts/bootstrap-icons.woff2
xtensa-esp-elf-gdb/**
venv/**
ha mqtt/homeassistant/*
.qodo
platformio.ini
node_modules/**
scripts/saved/*