body {
    background-color: var(--bs-body-bg);
    color: var(--bs-body-color)
}

.chart-container {
    padding: 10px;
    box-sizing: border-box
}

#chartsContainer {
    display: flex;
    flex-wrap: wrap
}

.container-fluid {
    display: flex;
    padding: 0;
    flex-direction: column
}

.sidebar {
    width: 30%;
    max-width: 500px;
    background-color: var(--bs-body-bg);
    padding: 20px;
    border-right: 1px solid #ddd;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
    resize: horizontal;
    transition: width .3s ease;
    display: block
}

.sidebar.fullscreen {
    width: 100%;
    max-width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 1050;
    background-color: var(--bs-body-bg);
    padding: 20px;
    border-right: none;
    overflow-y: auto
}

.content {
    margin-left: 30%;
    padding: 40px;
    width: 70%;
    background-color: var(--bs-body-bg)
}

.nav-tabs .nav-link {
    color: var(--bs-link-color)
}

.nav-tabs .nav-link.active {
    background-color: #007bff;
    color: #fff
}


.save-button {
    width: 100%;
    padding: 12px;
    font-size: 16px
}

.chart-settings {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: var(--bs-body-bg)
}

.fullscreen-toggle {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 1.5rem
}

.link-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px
}

.link-buttons .btn {
    width: 100%
}


.tasks-status-container .btn {
    width: 100%;
    text-align: left;
    display: flex;
    align-items: center
}

.tasks-status-container .btn i {
    margin-right: 10px
}

@media (max-width: 768px) {
    .container-fluid {
        flex-direction: column
    }

    .sidebar {
        width: 100%;
        max-width: 100%;
        height: auto;
        position: relative;
        border-right: none;
        border-bottom: 1px solid #ddd;
        resize: none
    }

    .sidebar.fullscreen {
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        z-index: 1050;
        position: fixed;
        background-color: var(--bs-body-bg)
    }

    .content {
        margin-left: 0;
        padding: 20px;
        width: 100%
    }

    #hideSettingsBtn {
        display: inline-block;
        position: fixed;
        top: 10px;
        left: 10px;
        z-index: 1100;
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 10px 20px;
        cursor: pointer
    }

    .chart-container {
        width: 100%
    }
}

.dark-theme {
    --bs-body-bg: #cacaca;
    --bs-body-color: #2b2b2b;
    --bs-card-bg: #2b2b2b;
    --bs-card-border-color: #2b2b2b;
    --bs-btn-bg: #707071;
    --bs-btn-color: #939292;
    --bs-link-color: #405080;
    --bs-border-color: #014c97
}

.light-theme {
    --bs-body-bg: #ffffff;
    --bs-body-color: #000000;
    --bs-link-color: #007bff;
    --bs-card-bg: #ffffff;
    --bs-card-border-color: #ddd;
    --bs-btn-bg: #007bff;
    --bs-btn-color: #ffffff
} 